:root {
  /* base tokens */
  --radius: 8px;
  --spacing: 16px;

  /* default theme */
  --bg: purple;
  --text: white;
}


/*   --primary: #ff4fd8;
  --secondary: rgba(170, 59, 255, 0.5);  */


body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  border-inline: 1px solid;
  min-height: 100vh;
}

.theme {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid;
}

.theme-default {
  --bg: white;
  --text: #111;
  --primary: #ff4fd8;
  --secondary: #a855f7;
}

.theme-dark {
  --bg: #121212;
  --text: #f3f4f6;
  --primary: #ff7ae6;
  --secondary: #c084fc;
}
